.cond_content { padding: 5%; }

.row-bordered:after { content: ""; display: block; border-bottom:1px solid #ccc; margin: 0 15px; }

// .nav-link a { color: #00C5B4; }

// body { background-color: #f7f7f7; }

nav { border-bottom: 1px solid #9A62D6; }
.nav-link a { color: #9A62D6; }
.nav-link a:hover { text-decoration: none; color:#333; }


.color-title { display: inline; }
.t1 { color: #F6A704; }
.t2 { color: #59B3E8; }
.t3 { color: #00C9B4; }
.tdot { color: black; }

.custom-toggler.navbar-toggler {
    border-color: #9A62D6;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(154,98,214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
