$font-stack: Bungee Hairline, cursive;
$primary: #1FC4C8;
$secondary: #F3308C;
$gw: ghostwhite;
$bg: #E8E9E9;
$navbg: #181A1B;

html, body {
    font-family: $font-stack;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:$navbg;
}

/*
body:before{
//    background-image:url("../static/img/taipei1920.jpg");
//    background-size:100%;
    display: block; content: ""; position: absolute; z-index: -1;
    top: 0; left: 0; right: 0; height: 100%;
    opacity: 0.6;
}
*/

img { opacity: 0.5; }

.wrapper {
}

.result {
    color: $navbg;
}

.cond_content {
    width:80%;
    margin:auto;
    font-family: $font-stack;
    min-height: 100%;
    margin-bottom: -150px;
}

.cond_content:after {
    content: "";
    display: block;
}

.footer, .cond_content:after{
    height: 150px;
}

.footer {
    bottom:0; left:0;
    color: $gw;
    text-align:center;
    border-top: 1px solid $primary;
    font-family: $font-stack;
    background-color:$navbg;
}

* {
    margin: 0;
}

.smtext {
    font-family:$font-stack;
}

/*
body::after {
    content: '';
    display:block;
    background-image:url("../static/img/taipei1920.jpg");
    background-size:100% 100%;
    opacity: 0.5;
    z-index:-1;
}
*/


.ptext {
    border-radius:25px;
    height:auto;
    padding:2%;

    font-weight:bold;

    background-color: $navbg;
    color: $gw;
}

.auth-page {
    height:auto;
    width:40%;
    margin:auto;
//    border-radius:25px;

    padding:2%;

    font-weight:bold;

//    background-color: $navbg;
    color: $gw;
}


.auth-button { padding-top:5%; }
.edit-msg { padding-top:5%; }

.btn-text {
    color: $primary;
    background-color: $navbg;
    font-family: $font-stack;
}

.error-message { color: $secondary; }
.success-message { color: $primary; }
.footer-link a { color: $primary }
.footer-link a:hover { color: $gw; text-decoration: none; }

.nav_scope {
    background-color: $navbg;
}

.row-bordered:after { content: ""; display: block; border-bottom:1px solid #ccc; margin: 0 15px; }

nav { border-bottom: 1px solid #1FC4C8; }
.nav-link a {
    color: #1FC4C8;
    font-size:15px;
}
.nav-link a:hover { text-decoration: none; color:#e3e3e3; }
.nav-link a:active { text-decoration: none; color:#e3e3e3; }
.nav-link a:after { text-decoration: none; }


.color-title {
    display: inline;
    font-family: $font-stack;
    color: $primary;
}

.custom-toggler.navbar-toggler {
    //border-color: #9A62D6;
    border-color: #1FC4C8;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(31,196,200, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
